.register-container {
    background-image: url('../../assets/background.jpeg');
    background-size: cover;
    background-position: center;
}
.form{
    padding-top: 500px;
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 400px;
}
.user{
    font-size: 20px;
}
.Email{
    font-size: 20px;
}
.password{
    font-size: 20px;
}
.register{
    background:var(--color-primary);
    color: var(--color-bg);
    height: 3em;
    border-radius:4px ;
    transition: var(--transition);
    cursor: pointer;
}
.register:hover{
    background:var(--color-white) ;
    color: var(--color-bg);
    border-color: transparent;
    
  }